//--------------------------------------------------------------
// Content
//--------------------------------------------------------------

input[type="search"] {
	 @include box-sizing(border-box);
}

a {
	outline: none!important;	
	
	&:focus {
		outline: none!important;	
	}
}

.no-wrap-block { white-space: nowrap; }

.site-content {
	padding: 3% 1em;
	margin: 0 auto;
	max-width: 70em;
}

.entry-header, .entry-content {

	//max-width: 60em;

}



.site-container {
	display: block;

}
