//--------------------------------------------------------------
// Navigation - CHANGE!!
//--------------------------------------------------------------

// Links

a {
	color: $orange;

	&:hover {
		color: $burgundy;
	}
}

// Buttons 

.btn, .button {
	display: inline-block;
	margin: 0 1em 1em 0;
	padding: 0.5em 1em;
	color: #fff;
	font-weight: bold;
	border-radius: 3px;
	background-color: $orange;
	text-decoration: none;

	&:hover {
		background-color: $burgundy;
		color: #fff;
	}
}

.secondary {
	background-color: $gold;

	&:hover {
		background-color: $ochre;
	}

}

ul.sub-menu {
	display: none!important; // Don't want the sub-menu to display as a dropdown or in the off-canvas menu
}

li a {
			display: block;
			text-decoration: none;
			
		}


@media only screen and (min-width : 980px) {
      

	.menu {
		margin: 0 auto;
		padding: 0;
	
		list-style: none;
	
		li {
			margin: 0 0.75em;
		}
	
		ul {
			margin: 0;
			padding: 0;
	
			list-style: none;
		}
	
		
		display: inline-block;
		
		&.dropdown {
		
			// Sub-menu
			ul {
				left: -999em;
				position: absolute;
				top: 100%;
				z-index: 99999;
		
				// Sub-sub menu
				ul {
					left: -999em;
					top: 0;
				}
		
				// Sub-menu items
				li {
		
					&:hover > ul,
					&.focus > ul {
						left: 100%;
					}
				}
		
				// Sub-menu links
				a {
					
					height: auto;
				}
		
				:hover > a,
				.focus > a {
				}
		
				a:hover,
				a.focus {
				}
			}
		
			// Display sub-menu on hover
			li:hover > ul,
			li.focus > ul {
				width: 170px;
				left: 50%;
				transform: translateX(-50%);
			}
		
			// Menu items
			li {
				//float: left;
				position: relative;
		
				&:hover > a,
				&.focus > a {
				}
			}
		}
		
		
	
		
		
	
		// Current items
		.current_page_item a,
		.current-menu-item a {
		}
	}

}


// Main navigation (after creating a menu in the dashboard)
.main-navigation {

	
	// Sublevels
	.sub-menu {

		
		> .menu-item {
			display: block;
			text-align: center;
			padding: 0;
			margin: 0;
			
		
			a {
				
				
				&:hover {
					background: $green;
					
				}
				
				
			}
		}
	
		.sub-menu {}
	}

	
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 24px 0;
		overflow: hidden;
	}

	& .nav-previous {
		width: 50%;
		height: auto;

		float: left;
	}

	& .nav-next {
		width: 50%;
		height: auto;

		float: right;
		text-align: right;
	}
}



// Sub Menu Bar

.widget_jc_split_menu_widget {
	background-color: $blue;
	padding: 0.75em 1em 1em 1em;
	text-align: center;
	font-weight: 700;

	a {
		color: #fff;

		&:hover {
			color: $gold;
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		line-height: 2;

		li {
			display: inline-block;
			margin: 0 1em;
			position: relative;
		}

		li.current-menu-item a {
			color: $gold;
		}
	}
}


@media only screen and (min-width : 980px) { 

	.widget_jc_split_menu_widget li.current-menu-item:after {
			position: absolute;
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 10px 10px 10px;
			border-color: transparent transparent #ffffff transparent;
			bottom: -1em;
			left: calc(50% - 10px);
		}

}

