
@media only screen and (max-width : 979px) {
			
	body {
		//position: relative;	
	}
	
	.site-header {
		
		nav {
			display: none;	
		}
		
		a.menu-btn {
			
			@include transition(all, 0.2s, ease-in-out);
	
			&.right {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 1em;
			}
	
			&:hover {
				color: #fff;
			}
	
			span.line {
				transition: 0;
				background: #fff;
				width: 24px;
				height: 3px;
				margin-bottom: 5px;
				display: block;
			}
		}
	}
	
	.pushy-active .menu-btn {
		color: #fff;
	}
	
	.pushy {
		transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
		position: fixed;
		width: 260px;
		height: 100%;
		top: 0;
		right: 0;
		z-index: 9999;
		background: $navy;
		overflow: auto;
		-webkit-overflow-scrolling: touch;

		li a { 
			display: block;
			padding: 0.75em 1.65em;
			color: #fff;
			font-weight: 600;
			font-size: 1.25em;

			&:hover {
				background-color: $blue;
			}

			&:active {
				background-color: $indigo;
			}
		}

		.current-menu-item a, .current_page_item a {
			background-color: $gold;

			&:hover {
				background-color: $gold;
			}
		}
	
		a.close-btn {
			color: #fff;
			display: block;
			opacity: .6;
			padding: 1em;
			text-align: right;
			font-weight: 600;
			line-height: 1;
			position: relative;
			padding-right: 2.5em;
			text-decoration: none;


			&:after {
				content: '×';
				font-size: 1.65em;
				position: absolute;
				right: 0.5em;
				top: 0.4em;
			}
	
			&:hover {
				text-decoration: none;
				opacity: 1;
				color: #fff;
			}
	
			span {
				font-size: 2em;
			}
		}
	}
	
	.pushy-left {
		-webkit-transform: translate3d(260px, 0, 0);
		-moz-transform: translate3d(260px, 0, 0);
		-ms-transform: translate3d(260px, 0, 0);
		-o-transform: translate3d(260px, 0, 0);
		transform: translate3d(260px, 0, 0);
	}
	
	.pushy-right {
		-webkit-transform: translate3d(-260px, 0, 0);
		-moz-transform: translate3d(-260px, 0, 0);
		-ms-transform: translate3d(-260px, 0, 0);
		-o-transform: translate3d(-260px, 0, 0);
		transform: translate3d(-260px, 0, 0);
	}
	
	.pushy-open {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	
	.container-push, 
	.push-push {
		-webkit-transform: translate3d(-260px, 0, 0);
		-moz-transform: translate3d(-260px, 0, 0);
		-ms-transform: translate3d(-260px, 0, 0);
		-o-transform: translate3d(-260px, 0, 0);
		transform: translate3d(-260px, 0, 0);
	}
	
	.pushy, 
	.site-container, 
	.push {
		-webkit-transition: -webkit-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
		-moz-transition: -moz-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
		-o-transition: -o-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
		transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	
		-webkit-backface-visibility: hidden;
		//-webkit-perspective: 1000
	}
	
	.site-overlay {
		display: none;
	}
	
	.pushy-active { 
		
		.touchevents & {
			overflow: hidden;
		}
	
		.site-overlay {
			display: block;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 9998;
			opacity: 0.4;
			background-color: #000; 
		}
	}
	
	.site-container {
		overflow-x: hidden;	
	}
			
			
}

@media only screen and (min-width : 980px) {
 
 	.pushy, .nav-mobile, .menu-btn, .close-btn {
		display: none;	
	}
      
}