//--------------------------------------------------------------
// Typography
//--------------------------------------------------------------

html {
	font-size: 100%;	
}

/* Typography resets */
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
  margin: 0;
  padding: 0; 
}

body {
	font-family: "open sans", arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 100%;
	color: $grey70;
	-webkit-font-smoothing: antialiased;
}

hr {
	height: 4px;
	background: $grey5;
	border: none;
	margin: 1em 0;
}


a {
	color: $orange;
		
	&:hover {
		color: $burgundy;
	}
}





/* Headings
--------------------------------------------- */
	


h1,
h2,
h3,
h4,
h5,
h6 {

	a {
		color: $orange;
		text-decoration: none;
	}
}


/*  Headings
 *  h1 through h6 styling
 *  Heading class lets you use one heading type for semantics
 *  but style it as another heading type. */

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
	font-weight: 800;
	margin-bottom: 0.5em;
}

h1, .h1 {
	font-size: 1.7em;
}

h1 strong {
}

h2, .h2 {
	font-size: 1.5em;
}

h3, .h3 {
	font-size: 1.35em;
}

h4, h5, h6, .h4, .h5, .h6 {
	font-size: 1.2em;
	letter-spacing:-0.01em;
}

@media (min-width: 40em) {
	h1, .h1 { font-size: 2em; }
    h2, .h2 { font-size: 1.75em; }
    h3, .h3 { font-size: 1.5em; }
    h4, h5, h6, .h4, .h5, .h6 { font-size: 1.25em; }
}

@media (min-width: 60em) {
	h1, .h1 { font-size: 2.5em; letter-spacing:-0.02em; }
    h2, .h2 { font-size: 2em; }
    h3, .h3 { font-size: 1.75em; }
    h4, h5, h6, .h4, .h5, .h6 { font-size: 1.5em; }
    p, .site-content ul, .site-content ol { font-size: 1.05em; }
}

@media (min-width: 80em) {
	h1, .h1 { font-size: 3em; letter-spacing:-0.03em; line-height: 1.15; }
	h2, .h2 { font-size: 2.5em; letter-spacing:-0.03em; line-height: 1.15; }
	h3, .h3 { font-size: 2em; }
    h4, h5, h6, .h4, .h5, .h6 { font-size: 1.75em; }
}


.light {
	color: #aaa;
}

.light a {
    border-bottom:2px solid #eee;
	text-decoration: none;
	color: #aaa;
}

.light a:hover {
    border-bottom:2px solid #ccc!important;
	text-decoration: none;
}

/* 


h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
	font-weight: 400;
}

*/

.intro {
    font-size:1em;
    margin-bottom: 1em;
}

@media (min-width: 40em) {
	.intro { font-size:1.4em; line-height:1.3em; }
}

@media (min-width: 60em) {
	.intro { font-size:1.5em; line-height:1.5em; }
}

@media (min-width: 80em) {
	.intro { font-size:1.6em; line-height:1.5em; }
}




.entry-meta, p.caption, .posted-on, .tags-links {
	color: $grey30;
	font-style: italic;
	margin-bottom: 1em;

	a { 
		color: $grey30;

		&:hover {
			color: $grey50;
		}
	}
}



body,
button,
input,
select,
textarea {

}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.25em;
}

b,
strong {
	font-weight: bold;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	background-color: $grey5;
	margin: 1.5em 0;
	padding: 1em;
	font-style: italic;
	border-radius: 5px;

	p:last-of-type { margin-bottom: 0; }
}

address {
	margin: 0 0 1.5em;
}

pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	line-height: 1.6;
	word-wrap: break-word;
	padding: 0.25em 0;
	background-color: $grey5;
	color: $grey30;
}

abbr,
acronym {
	border-bottom: 1px dotted $grey30;
	cursor: help;
}

mark,
ins {
	background: $grey5;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big, .big {
	font-size: 125%;
}

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/


.site-content ul {
	list-style: disc outside none;
	margin: 0 0 1em 2em;

	li { margin-bottom: 0.25em; }
}

.site-content ol {
	list-style: decimal outside none;
	margin: 0 0 1em 1em;
	font-weight: 800;
	counter-reset:item;

	li { 
		margin-bottom: 0.25em;
		font-weight: 400;
		counter-increment:item;
		list-style-type:none;
	}
}

.site-content ol > li:before {
  display:inline-block;
  width:1.5em;
  padding-right:0.5em;
  font-weight:bold;
  text-align:right;
  content:counter(item) ".";
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

th {
	font-weight: bold;
}

/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/

button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	border-radius: 3px;
	border: 1px solid $grey15;
}


button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	background: $orange;
	font-weight: 700;
	color: #fff;
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	padding: .5em 1em;
	border-radius: 3px;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border: none;
	background-color: $burgundy;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border: none;
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
	-webkit-appearance:none;
	border-radius:3px;
	box-sizing: content-box;
	font-weight: 400;
}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	border-radius:3px;
}

button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: $grey80;
	border: 1px solid $grey15;
	background-color: #fff;
	border-radius: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: $grey50;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: .5em;
}

textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding: .5em 1em;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
}

fieldset {
	margin: 1.5em 0;
	padding: 1em;
	border: none;
	background-color: $grey5;
	border-radius: 5px;
}

label {
	font-weight: 700;
	line-height: 2.5em;
}


::-webkit-input-placeholder {
   color: $grey30;
   font-weight: 400;
}

:-moz-placeholder { /* Firefox 18- */
   color: $grey30;
   font-weight: 400;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $grey30;
   font-weight: 400;  
}

:-ms-input-placeholder {  
   color: $grey30;
   font-weight: 400; 
}


.form-description {
	display: inline-block;
	font-size: 85%;
	color: $grey30;
	font-style: italic;
	margin: 0.5em;
}


input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
textarea,
select {
	width: 100%;	
	}


@media screen and (min-width: 40em) {

	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	textarea,
	select {
		width: 50%;	
		}

	.form-description {
			width: 45%;
			vertical-align: middle;
			margin-left: 1em;
		}
	}







