//--------------------------------------------------------------
// Comments
//--------------------------------------------------------------

.comments-title {
	
}

.comment-list {
	list-style: none;
	margin: 0;
}

.comment-meta {
	margin: 0 0 24px 0;
}

.avatar {
	margin: 0 34px 0 0;
	float: left;
}

.bypostauthor {
	display: block;
}
