// Brand Colours

$gold: #FBAE17;
$ochre: #E0851B;
$umber: #A86414;
$orange: #D83B20;
$burgundy: #8B1A07;
$blue: #254C66;
$navy: #1D3749;
$indigo: #0B212F;
$violet: #721D54;
$purple: #470B32;
$emerald: #2FBC87;
$green: #238D65;
$grey5: #F0F1F2;
$grey15: #D4D8DB;
$grey30: #A9B0B7;
$grey50: #6F757C;
$grey70: #4A4E53;
$grey80: #272B37;




