//--------------------------------------------------------------
// Global
//--------------------------------------------------------------


html {
	font-size: 100%;	
}

/* Typography resets */
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
  margin: 0;
  padding: 0; 
}

// Set box-sizing globally to handle padding and border widths
    *,
    *:before,
    *:after {
      @include box-sizing(border-box);
}

input[type="search"] {
	 @include box-sizing(border-box);
	 border: none;
}



// Miscellaneous useful HTML classes
.left   { float: left !important; }
.right  { float: right !important; }
.clearfix     { @include clearfix; }
.text-left    { text-align: left !important; }
.text-right   { text-align: right !important; }
.text-center  { text-align: center !important; }
.text-justify { text-align: justify !important; }
.hide         { display: none; }

.image-center {
	display: block;
	margin: 0 auto;
}

// Font smoothing
// Antialiased font smoothing works best for light text on a dark background.
// Apply to single elements instead of globally to body.
// Note this only applies to webkit-based desktop browsers on the Mac.
.antialiased { 
	-webkit-font-smoothing: antialiased; 
}

// Get rid of gap under images by making them display: inline-block; by default
img {
	display: inline-block;

}






