// --------------------------------------------------------------
// Media
// --------------------------------------------------------------

.page-content,
.entry-content,
.comment-content {

	img.wp-smiley {
		border: none;
		margin: 0;
		padding: 0;
	}
}

// Images

img {
	height: auto;
	max-width: 100%;
}

// Captions
.wp-caption {
	margin: 0 0 24px 0;
	max-width: 100%;

	img[class*="wp-image-"] {
		display: block;
		margin: 0 auto;
	}

	// Add auto margins so image is centered
	&.aligncenter {
		margin: 0 auto 24px auto;
	}

	// Add a margin right to left-aligned images with captions
	&.alignleft {
		margin-right: 24px;
	}

	// Add a margin left to right-aligned images with captions
	&.alignright {
		margin-left: 24px;
	}

	.wp-caption-text {
		margin: rem(12) 0;
	}
}

.wp-caption-text {
	text-align: center;
}

// Galleries

.gallery {
	margin: 0 0 24px 0;
}

.gallery-item {
	width: 100%;
	height: auto;

	display: inline-block;
	text-align: center;
	vertical-align: top;

	.gallery-columns-2 & {
		max-width: 50%;
	}

	.gallery-columns-3 & {
		max-width: 33.33%;
	}

	.gallery-columns-4 & {
		max-width: 25%;
	}

	.gallery-columns-5 & {
		max-width: 20%;
	}

	.gallery-columns-6 & {
		max-width: 16.66%;
	}

	.gallery-columns-7 & {
		max-width: 14.28%;
	}

	.gallery-columns-8 & {
		max-width: 12.5%;
	}

	.gallery-columns-9 & {
		max-width: 11.11%;
	}
}

.gallery-caption {
	display: block;
}

img.intro-img {
	width: 100px;
	height: auto;
	float: left;
	margin: 0 1em 0.5em 0;

	@media (min-width: 80em) { 
		width: 150px;
		margin-left: -3em;
	}
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%; /* 16/9 ratio */
	padding-top: 30px; /* IE6 workaround*/
	height: 0;
	overflow: hidden;
	margin-bottom: 1em;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
