//--------------------------------------------------------------
// Frontpage
//--------------------------------------------------------------

	
.home .site-content {
	padding: 0;
	margin: 0 auto;
	max-width: 100%;
}

.section-hero-block {
	color: #fff;
	background-color: $blue;
	text-align: center;

	.section-wrapper {
		background-image: url(../images/hero.jpg);
		background-position: 50% 0;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 8% 4%;
	}

	.section-container {
		max-width: 70em;
		margin: 0 auto;

		p {
			max-width: 30em;
			margin: 0 auto;
		}
		
	}

	a {
		color: $gold;

		&:hover {
			color: $ochre;
		}
	}

	@media (min-width: 40em) { 	h1, .h1 { font-size: 2.5em; } }

	@media (min-width: 60em) { 	h1, .h1 { font-size: 3.5em; } }

	@media (min-width: 80em) { 	h1, .h1 { font-size: 4em; } }

}









.home .section-block-grid {
	text-align: center;

	

	.section-wrapper {
		
	}

	.section-container {
		max-width: 120em;
		margin: 0 auto;
		padding: 1.5em;

		.grid {
			padding: 1em 0;
		}
		
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			margin: 0;
			padding: 0;

			img {
				margin-bottom: 0.5em;
				width: 86px;
			}
		}
	}



	a {
		display: block;
		padding: 1.5em;
		border-radius: 5px;
		background-color: $grey5;
		margin-bottom: 1.5em;
		transition: all 0.1s ease;

		&:hover {
			background-color: $orange;

		h4, p { color: #fff; }
			
		}

		p { color: $grey70; }
	}


}

@media (min-width: 25em) { 

	.home .section-container ul {
		text-align: left;

		li {


			img {
				margin-bottom: 0;
				margin-right: 1em;
				vertical-align: middle;
			}

			.tile-text {
				display: inline-block;
				vertical-align: middle;
				width: calc(100% - 106px);
			}

			h4, p {
				width: 100%;
			}

			p {
				margin-bottom: 0;
			}
		}

	}

}


@media (min-width: 50em) { 

	.home .section-container ul {
		

		li { 
			display: inline-block;
			width: calc(50% - 1em);
			vertical-align: top;
			margin-right: 1.5em;

			&:nth-of-type(even) {
				margin-right: 0;
			}


			img {
				
			}

			h4, p {
				width: 100%;
			}
		}

	}

}

@media (min-width: 70em) { 

	.home .section-container ul {
		text-align: center;

		li { 
			display: inline-block;
			width: 23%;
			vertical-align: top;
			margin-right: 1.5em;

			&:nth-of-type(even) {
				margin-right: 1.5em;
			}

			&:last-of-type {
				margin-right: 0;
			}

			a {
				min-height: 18em;
			}

			.tile-text {
				width: 100%;
			}


			img {
				margin-bottom: 1em;
				margin-right: 0;
			}

			h4, p {
				width: 100%;
			}
		}

	}

}






.home .section-callout-1 {

	color: #fff;
	background-color: $blue;
	text-align: center;
	background-image: url(../images/callout-bg.svg);
	background-position: -100px 0;
	background-repeat: no-repeat;



	.section-container {
		max-width: 70em;
		margin: 0 auto;
		padding: 1.5em 1.5em 100px 1.5em;
		position: relative;
	}

	img {
		position: absolute;
		width: 76px;
		left: calc(50% - 43px);
		bottom: 1.5em;
	}

	a {
		color: $gold;
		font-weight: 800;

		&:hover {
			color: $ochre;
		}

	}

	@media (min-width: 50em) {
		background-position: 0 0;

		.section-container {
			padding: 1.5em 8em 1.5em 6em;
		}

		img {
			width: 86px;
			left: auto;
			right: 1.5em;
			bottom: calc(50% - 43px);
		}


	}

	@media (min-width: 80em) {

		.section-container {
			padding: 1.5em 9em 1.5em 4em;
		}

		img {
			right: 2em;
		}


	}

}




.home .section-callout-2 {

	text-align: center;
	padding: 2em;

	.section-container {
		max-width: 55em;
		margin: 0 auto;
		position: relative;
	}

	img {
		margin-bottom: 1em;
		width: 86px;
	}

	@media (min-width: 40em) {

		text-align: left;

		img {
				margin: 0 1.5em 0.5em 0;
				width: 118px;
			}

		.entry-content, .cta-buttons {
			display: inline-block;
			vertical-align: top;
			width: calc(100% - 150px);
		}

		.cta-buttons {
			padding-left: 140px;
		}



	}



}









.page-health .section-content-block {
	max-width: 60em;
	margin: 0 auto;
}

.page-health .section-block-grid {
	text-align: center;

	

	.section-wrapper {
		
	}

	.section-container {
		max-width: 120em;
		margin: 0 auto;

		.grid {
			padding: 1em 0;
		}
		
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			margin: 0;
			padding: 0;

			img {
				margin-bottom: 0.5em;
				width: 86px;
			}
		}
	}



	a {
		display: block;
		padding: 1.5em;
		border-radius: 5px;
		background-color: $grey5;
		margin-bottom: 1.5em;
		transition: all 0.1s ease;

		&:hover {
			background-color: $orange;

		h4, p { color: #fff; }
			
		}

		p { color: $grey70; }
	}


}

@media (min-width: 25em) { 

.page-health  .section-container ul {
		text-align: left;

		li {


			img {
				margin-bottom: 0;
				margin-right: 1em;
				vertical-align: middle;
			}

			.tile-text {
				display: inline-block;
				vertical-align: middle;
				width: calc(100% - 106px);
			}

			h4, p {
				width: 100%;
			}

			p {
				margin-bottom: 0;
			}
		}

	}

}


@media (min-width: 50em) { 

.page-health .section-container ul {
		

		li { 
			display: inline-block;
			width: calc(50% - 1em);
			vertical-align: top;
			margin-right: 1.5em;

			&:nth-of-type(even) {
				margin-right: 0;
			}


			img {
				
			}

			h4, p {
				width: 100%;
			}
		}

	}

}

