//--------------------------------------------------------------
// General Page Styles
//--------------------------------------------------------------



html, body {
	max-width: 100%;	
}

body {
	
}